
### Development files ###

log_cythonisation.txt
*.pyc
*.o
*.so

build/*
MotorControlModel/ArmModel/build/*
MotorControlModel/ArmModel/DevCython/*
*.pdf

/MotorControlModel/ArmModel/build
*.c


*~
.idea/

